require("@nomicfoundation/hardhat-toolbox");
require("dotenv").config();

const { RPC_URL, PRIVATE_KEY } = process.env;

module.exports = {
  solidity: "0.8.20",
  networks: {
    rskTestnet: {
      url: RPC_URL || "https://public-node.testnet.rsk.co",
      accounts: PRIVATE_KEY ? [PRIVATE_KEY] : []
    },
    rskMainnet: {
      url: "https://public-node.rsk.co",
      accounts: PRIVATE_KEY ? [PRIVATE_KEY] : []
    }
  }
};
